@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {

    ---cornula: rgb(255, 255, 255);
    ---cornula2: rgb(0, 0, 0);
    ---corfundo: rgba(10, 112, 87, 0.63);
    ---corfundo2: rgba(10, 92, 71, 0.822);
    ---corfundodiv: rgba(15, 92, 56, 0.726);
    ---cordestaque: rgba(53,140,121);
    ---cinza: rgb(119, 117, 117);
    ---Verdeclaro: rgba(19, 211, 121, 0.726);
}

* {

    margin: 0;
    padding: 0;
}

/*menu-principal*/

nav{

    width: 100%;
    height: auto;
    background-color: var(---cordestaque);
    position: fixed;
    top: 0;
}

.dp-menu ul{

    max-width: 1200px;
    list-style-type: none;
    text-align: center;    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.dp-menu ul li{

    display: inline-block;
}


.dp-menu ul li a{

    padding: 10px;
    display: inline-block;
    color: var(---cornula);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

/*borda*/

.dp-menu ul .uniao{

    border-right: 2px solid var(---cornula);   
}

.dp-menu ul .uniao2{

    border-right: 2px solid var(---cornula);
    border-left: 2px solid var(---cornula);
}

.dp-menu ul li a:hover {

    background-color: var(---corfundo);
    transition: .5s;
}

/*rodapé*/

.rpd .divisoria {

    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rpd .divisoria div{

    width: auto;
    height: auto;
    display: inline;
    margin: 10px;
    text-align: center;
}

.rpd .divisoria h2{

    font-size: 20px;
}

.rpd .divisoria p{

    font-size: 15px;
}
/*logo do rodapé*/
.rpd .divisoria .imagem{

    width: 200px;
    height: 150px;
}

.rpd .divisoria .imagem img{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
/*dpwnload do rodapé*/
.rpd .divisoria .download{

    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.rpd .divisoria .download .android{

    padding-top: 20px;
}

.rpd .divisoria .download p{

    font-size: 20px;
    padding-top: 10px;
}

.rpd .divisoria .download a{

    text-decoration: none;
    color: var(---cornula2);
}

.rpd .divisoria .download a:hover{

    transition: .5;
    color: var(---corfundo);
}

/*contatos no rodapé*/
.rpd .divisoria .contatos{

    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 300px;
}

.rpd .divisoria .contatos .tel{

    padding-top: 20px;
}

.rpd .divisoria .contatos p{

    font-size: 20px;
    padding-top: 10px;
}
/*parte do copyright*/
.rpd2 .copyright .divcopyright {

    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: rgba(10, 112, 87, 0.63);
}

.rpd2 .copyright .divcopyright p {

    text-align: center;
    color: var(---cornula);
    font-size: 20px;
    text-decoration: none;
}

/*social no rodape*/
.rpd .divisoria .social{

    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.rpd .divisoria .social i{

    font-size: 40px;
    text-decoration: none;
    border: 2px var(---cornula2);
    border-style: solid;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
    color: var(---cornula2);
}

.rpd .divisoria .social i:hover{

    border-color: var(---corfundo);
    color: var(---corfundo);
    transition: .5s;
}

.rpd .divisoria .divisao{
    width: 2px;
    height: auto;
    background-color: gray;
}

/*corzinha no menu*/

#Home {

    background-color: var(---Verdeclaro);
}
#Login {

    background-color: var(---Verdeclaro);
}
#Sac {

    background-color: var(---Verdeclaro);
}
#Servico {

    background-color: var(---Verdeclaro);
}
#Sobre {

    background-color: var(---Verdeclaro);
}


@media only screen and (width: 800px){
    .rpd .divisoria{

        display: flex;
        flex-direction: column;
        height: auto;
    }

    .dp-menu ul li{

        display: column;
    }

}

/*menuzin*/

.dropbtn {
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 50px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #3e8e41;
}

.dropdown {
    position: absolute;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(241, 241, 255);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    z-index: 1;
    font-family: 'poppins', sans-serif;
}

.dropdown-content a {
    color: black;
    font-weight: initial;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#unico {
    color: black;
}

@media screen and (max-width:650px){
    .dropdown {
        display: inline-block;
    }

    .dp-menu {
        display: none;
    }

    .divisoria{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    }

    /*#imagem{
        display: none;
    }*/
}

